body {
    background-color: teal;
    margin-left: 5px;
}


/*classes*/
.sectionHeader {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    vertical-align: middle;
    text-align: left;
    justify-content: space-between; 
    border: solid 5px #888f91;
}
.headerTitle{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
/*
    align-item: flex-start;
    vertical-align: middle;
    text-align: left;
    justify-content: space-around;
    font-size: 21px;    
*/
}

#btnCart {
    display: flex;
    direction: row;
    justify-content: flex-start;
    align-content: space-between;
    vertical-align: middle;
    
    padding: 2px;
    width: 100px;
    height: 40px;
    border-radius: 5%;
    box-shadow: 30%;
    margin: 10px;
    line-height: 30px;
    
    text-align: left;
    text-indent: 3px;
    background: tomato;
    color: white;
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 18px;
}
.numberCircle {
    display: flex;
    direction: row;
    justify-content: center;
    align-content: space-between;
    vertical-align: baseline;
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 15px;
    height: 15px;
    padding: 2px;
    margin: 10px;
    background: tomato;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;

    font: 13px Arial, sans-serif;
/*    https://stackoverflow.com/questions/4861224/how-to-use-css-to-surround-a-number-with-a-circle*/
}

/* main section classes */

/*.containerMain {
     display: flex;
     flex-direction: row;
}*/
.containerColumnLayout {
    display: flex;
    direction: row;
    /*align-items: start;
    justify-content: flex-end;*/
}
/* OVER-RIDES */
ul {padding: 0; }   /* over-rides web-kit default padding */
li {padding: 0; }   /* over-rides web-kit default padding */



.columnHeader {
    display: flex;
    align-Items: flex-start;
    justify-content: flex-start;
    padding-left: 23.5%;
    padding-right: 24.5%;
    /*border: solid 1.5px #888f91;*/
    
}
/*SIDEBAR SECTION*/
.sidebarCategorySection {
    display: flex;
    flex-direction: column;
    order: 1;
    flex: 1;
    border: 5px #888f91;
    border-style: solid;
    align-items: center;
    justify-content: flex-start;
    background-color: #dbd6bf; /*#dbd6aa*/
}
#sidebarCategory {    /* should only use 'id' once for a specific thing */
    font-family: Georgia, serif;
    color: darkred;
    background-color: #dbd6bf; /*#dbd6aa*/
}
.sidebarCategoryList {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    /*align-content: center;*/
    vertical-align: middle;
    align-Items: flex-start;
  
}

.sidebarCategoryItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;

    /*align-Items: flex-start;*/
/*
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    alignItems: flex-start;
*/
    
    padding: 2px;
    width: 140px;
    height: 30px;
    margin: 5px;
    /*margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;*/
    line-height: 30px;

    background: tomato;
    color: white;
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 18px;    
}

.backToTop{
    display: flex;
    direction: row;
    padding: 2px;
    width: 140px;
    height: 40px;
    margin: 5px;
    /*margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    line-height: 30px;*/
    
    text-align: center;
    background: tomato;
    color: white;
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 18px;
}
/*Bookmark links*/
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    display: block;
    width: 100%;
    height: 100%;
    
    text-align: center;
    background: tomato;
    color: white;
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none
}
a:hover {
    background: teal;
}

/*MAIN SECTION*/
.mainMoviesSection {
    display: flex;
    flex-direction: column; /* set to rows because each child is a 3-item row */
    order: 2;
    flex: 4;
    border: 1.5px #888f91;
    border-style: solid;
    align-items: center; /* controls vertical positioning of row */
    background-color: #dbd6aa;
}
.mainMoviesHeader {
    display: flex;
    margin-left: 10px;
    margin-right: auto;

/*    alignItem: flex-start;*/
    justify-content: flex-start;
    border: 1.5px #888f91;
    font-family: Georgia, serif;
    font-size: 21px; 
    align-items: flex-start;

    /*    vertical-align: middle;
    text-align: left;
    justify-content: space-around;
   
*/
/*
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    alignItems: flex-start;
*/}
.moviesSectionList {
    display: flex;
    flex-direction: column;
    flex-grow: 6;
    width: 95%;
    padding: 2px;
    
}
.moviesItemRow {     
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.moviesItemName {     
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    vertical-align: middle;
    align-Items: flex-start;
    
    padding: 2px;
    width: 240px;
    height: 30px;
    margin: 5px;
    line-height: 30px;
    /*margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;*/

    
    /*text-align: center;*/
    text-indent: 5px;

    background: tomato;
    color: white;
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 18px;
}
.moviesItemTime {     
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    align-items: center;

    padding: 2px;
    width: 70px;
    height: 30px;
    margin: 5px;
    line-height: 30px;

    text-align: center;
    background: tomato;
    color: white;
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 18px;
}
.playButton {
    display: flex;
    direction: row;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    align-items: center;
    
    padding: 2px;
    width: 140px;
    height: 35px;
    margin: 5px;
    /*margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;*/
    line-height: 30px;
    
    /*border: solid 1.5px #888f91;*/
    /*border-radius: 5%;*/
    /*border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom-right-radius:  30%;
    border-bottom-left-radius:  30%;*/
    box-shadow: 20%;


    background: tomato;
    color: white;
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 18px;
}
/* Styles for id'd elements in index.html*/

#header {
    font-family: Georgia, serif;
    color: darkred;
}

#content {
    font-family: Georgia, serif;
    color: darkred;
    background-color: #cdf1c3;
    margin-top: 5;
    margin-right: 5;
    margin-bottom: 5;
    margin-left: 5;

}

#moviesList {
    font-family: Georgia, serif;
    color: darkred;
    background-color: #c0dbe2;
}

#btnPlay {
    display: flex;
    flex-direction: column;
    order: 1;
    font-family: Georgia, serif;
    font-size: 18px;
    border-radius: 50px;
    width: 60px;
    height: 40px;
    margin: 5px;
    /*margin-top: 5px;
    margin-bottom: 5px;*/
    background-color: green;
    border: 1.5px white;
    border-style: solid;
    outline: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
  
}

/*Utility Classes*/
.utilBorderRed {
    border: 1px solid red !important;
}
.utilBorderPurple {
    border: 3px solid purple !important; /*TURN OFF BEFORE DEPLOYING*/
}
.utilBorderYellow{
        border: 1px solid yellow !important;  /*TURN OFF BEFORE DEPLOYING*/
}
.utilBorderOrange{
    border: 1px solid orange !important; /*TURN OFF BEFORE DEPLOYING*/    
}
.utilBorderBlue {
    /*    border: 3px solid blue !important; TURN OFF BEFORE DEPLOYING*/
}
